.popup__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2.5px);
}

.popup {
    max-width: 460px;
    padding: 48px 54px;

    background-color: var(--white);
    border-radius: 8px;
}

.popup__title {
    margin-bottom: 14px;
    font-size: 18px;
}

.popup__description {
    margin-bottom: 32px;
}