.map-point {
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--accent);
    border: 6px solid rgba(105, 112, 254, 0.5);
    background-clip: padding-box;
    cursor: pointer;
}